@font-face{
	font-family: Rajdhani;
	src:url(Rajdhani-Regular.ttf);

}

body{
	min-width: 200px;
	padding: 5px 5px;
   
}
#date{
	display:none;
}
#checkboxAge:checked ~ #date{
 display:inline;
}
#userQuote{
	width: 95%;
	border-radius: 4px;
	height: 17vh;
	padding: 5px 5px 20px;

}
#author{
	width:95%;
	border-radius: 4px;
	padding: 5px 5px 20px;
}
div:nth-of-type(1){
	color:black;
	font-size: 4vh;
	text-align: center;
	font-weight: 1000;
	
}
div{
	font-family: rajdhani;
	text-align: center;
	
	font-size:2.4vh;

}
#author:focus, #userQuote:focus{
	background-color:rgb(250, 250, 250);

}
input[type=button]{
	float: middle;
}
#saveSettings {
  padding: 10px 10px;
  color:white;
  background-color: rgb(50, 50, 50);
  border: none;
  text-decoration: none;
  font-family: rajdhani;
}
#saveSettings:hover {
	cursor:pointer;
}
.checkAge{
	text-align: center;
}

.subtitle{
	font-size: 3vh;
}